
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;color:#454545;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
 	font-family: 'Open Sans', sans-serif;
}


.list{
	background: #fff;
	margin: 0 10%;
	margin-top: 50px;
	padding: 0 1.5%;
	padding-bottom: 10px;
	text-align: justify;
	height: 100%;
	border: 0 1px;
	border-color: #000;
	border-style: solid;
}

.right-sider{
	margin-left: 85%;
	margin-right: 0;
	background: #aaa;
	width: 15%;
	height: 100%;
	display: flex;
}

.item{
	padding: 8px 0;
	border-bottom: 1px;
	border-color: #ddd;
	border-style: solid;
}

.pic{
	display: flex;
	height: 80px;
	width: 80px;
	float: left;
	padding: 5px 0;
}

.picture{
	border-radius: 5px;
}

.title{
	font-size: 26px;
	padding-top: 10px;
	padding-bottom: 0;
	height: 36px;
	text-align: left;
	font-weight: 600;
	overflow: hidden;
}

.content{
	color: #888;
	padding-bottom: 5px;
	height: 85px;
	overflow: hidden;
}

.text{
	display: block;
	margin-left: 90px;
	height: 20px;
}

.main{
	position:relative;
}

.header{
	background-image:url("../pic/3.jpg");
	height: 200px;
	background-position: center;
	margin: 0 0;
}

.curtain{
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	display: block;

}

.header-title{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 88px;

}


.footer{
  font-size: 16px;
  color: #aaa;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}
